<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="nav-sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="nav-search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="nav-subscribe-btn">
				<button>Subscribe Now</button>
			</li>
			<li id="nav-login-btn">
				<button>Log In</button>
			</li>
			<li id="nav-gear-btn">
				<i class="fa fa-gear"></i>
			</li>
		</ul>
	</nav>
</header>
