.sections-nav ul{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
}

.sections-nav li {
  margin: 10px;
}

.sections-nav li:hover:not(:last-child){
  background: $light-gray;
  cursor: pointer;
}

.sections-nav a {
  text-transform: uppercase;
}
